{# see WaiBlue\GuideVis\Loader->getPageVars() for the list of available variables #}

<html class="template-basic">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel='shortcut icon' href='{{ rootUrl }}/images/icon.png'>
  <title>{{ pageConfig.title }} | GuideVis | Sample guide</title>
  <link rel="stylesheet" type="text/css" href="{{ templateRootUrl }}/assets/css/book.css">
  <link rel="stylesheet" type="text/css" href="{{ templateRootUrl }}/assets/css/fontawesome-6.6.css">
</head>
<body>
  {{ elements.header|raw }}
  {{ elements.sidebar|raw }}
  <!-- Content -->
  <div class="p-8 flex-1 mb-4 ml-72 mr-4 lg:mr-60 space-y-1" style="max-width:1000px">
    {{ content|raw }}
  </div>
  {{ elements.onThisPage|raw }}
  {{ elements.footer|raw }}

  <script src="{{ guideRootUrl }}/node_modules/preline/dist/preline.js"></script>
</body>
</html>