{% macro renderSidebar(items, bookConfig, env, breadcrumbs, itemIdPrefix, level) %}
  {% set itemCounter = 0 %}
  {% for item in items %}
    <li id="{{ itemIdPrefix }}_{{ itemCounter }}">
      {% if item.children is iterable %}
        <a href="{{ env.guideRootUrl }}/{{ item.page ?? '' }}"
          class="{% if level == 0 %} btn {% else %} bt btn-small {% endif %} {% if breadcrumbs|last == item.page %} btn-primary {% else %} btn-transparent {% endif %} w-full"
        >
          {% if level == 0 %} <span class="icon"><i class="{{ item.icon }}"></i></span> {% endif %}
          <span class="text grow {% if level == 0 %} font-bold {% endif %}">{{ bookConfig.pages[item.page].title }}</span>
        </a>
        <div
          id="{{ itemIdPrefix }}_{{ itemCounter }}_{{ page }}"
          class=""
        >
          <ul class="ps-4 pt-0.5 space-y-0.5">
            {{ _self.renderSidebar(item.children, bookConfig, env, breadcrumbs, itemIdPrefix ~ "_" ~ itemCounter, level + 1) }}
          </ul>
        </div>
      {% else %}
        <a
          href="{{ env.guideRootUrl }}/{{ item.page }}"
          class="{% if level == 0 %} btn {% else %} btn btn-small {% endif %} {% if breadcrumbs|last == item.page %} btn-primary {% else %} btn-transparent {% endif %} w-full"
        >
          {% if level == 0 %} <span class="icon"><i class="{{ item.icon }}"></i></span> {% endif %}
          <span class="text {% if level == 0 %} font-bold {% endif %}">{{ bookConfig.pages[item.page].title }}</span>
        </a>
      {% endif %}
    </li>

    {% set itemCounter = itemCounter + 1 %}
  {% endfor %}
{% endmacro %}

{# https://preline.co/templates/admin/index.html #}

<!-- Sidebar -->
<div class="
  w-72 h-full
  hidden
  fixed inset-y-0 start-0 z-[60]
  bg-white border-e border-gray-200
  md:block lg:translate-x-0 lg:end-auto lg:bottom-0
  dark:bg-neutral-800 dark:border-neutral-700
" role="dialog" tabindex="-1" aria-label="Sidebar">

  <div class="relative flex flex-col h-full max-h-full pb-10">
    <div class="px-6 pt-4 pb-4">
      <div>
        <a class="flex-none rounded-xl text-xl inline-block font-semibold focus:outline-none focus:opacity-80" href="{{ env.guideRootUrl }}">
          GuideVis<br/>
        </a>
      </div>
      <small class="text-primary">Guide visualisation library</small><br/>
      <small>Sample guide</small>
    </div>

    {# <div class="hidden md:block">
      <!-- Search Input -->
      <div class="relative">
        <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none z-20 ps-3.5">
          <svg class="shrink-0 size-4 text-gray-400 dark:text-white/60" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="11" cy="11" r="8" />
            <path d="m21 21-4.3-4.3" />
          </svg>
        </div>
        <input type="text" class="py-2 ps-10 pe-16 block w-full bg-white border-gray-200 rounded-lg text-sm focus:outline-none focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder:text-neutral-400 dark:focus:ring-neutral-600" placeholder="Search">
        <div class="hidden absolute inset-y-0 end-0 flex items-center pointer-events-none z-20 pe-1">
          <button type="button" class="inline-flex shrink-0 justify-center items-center size-6 rounded-full text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600 dark:text-neutral-500 dark:hover:text-blue-500 dark:focus:text-blue-500" aria-label="Close">
            <span class="sr-only">Close</span>
            <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="12" cy="12" r="10" />
              <path d="m15 9-6 6" />
              <path d="m9 9 6 6" />
            </svg>
          </button>
        </div>
        <div class="absolute inset-y-0 end-0 flex items-center pointer-events-none z-20 pe-3 text-gray-400">
          <svg class="shrink-0 size-3 text-gray-400 dark:text-white/60" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M15 6v12a3 3 0 1 0 3-3H6a3 3 0 1 0 3 3V6a3 3 0 1 0-3 3h12a3 3 0 1 0-3-3" />
          </svg>
          <span class="mx-1">
            <svg class="shrink-0 size-3 text-gray-400 dark:text-white/60" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14" />
              <path d="M12 5v14" />
            </svg>
          </span>
          <span class="text-xs">/</span>
        </div>
      </div>
      <!-- End Search Input -->
    </div> #}

    <!-- Sidebar content -->
    <div class="h-full overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500">

      <nav class="hs-accordion-group px-3 w-full flex flex-col flex-wrap" data-hs-accordion-always-open>
        <ul class="flex flex-col space-y-0.5 p-0">
          {{ _self.renderSidebar(bookConfig.tableOfContents, bookConfig, env, breadcrumbs, '', 0) }}

        </ul>
      </nav>
    </div>
    <!-- End Content -->
  </div>
</div>
<!-- End Sidebar -->